img#nasa-image {
    /*fadeIn is the animation name*/
    animation: fadeIn 3s ease;
}

@keyframes fadeIn {
    /* at the animation begging */
    0% {
        opacity: 0;
        filter: blur(20px);
    }
    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
}
