<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <link rel="stylesheet" href="display-table.css">
</head>
<body>
    <header>
        <h3>Untitled</h3>
    </header>

    <main>
        <div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam unde quidem impedit eius consequuntur illum ut quam doloribus error commodi totam eveniet ab, amet rerum.</p>
            
        </div>
        
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae praesentium ullam provident fuga? Delectus, fugiat dolorem? Tenetur quae quidem facere? Quibusdam, labore error rerum nobis voluptatibus eos perferendis eius sequi at odio id ipsam laborum assumenda reiciendis fuga architecto! Accusamus sunt dolorum exercitationem facere amet tempora quidem, quibusdam libero distinctio?</p>
        </div>

        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet assumenda placeat eaque numquam blanditiis, eligendi perspiciatis rem officia impedit, aliquam laudantium! Repellat rem aliquam reiciendis, aspernatur minus commodi dicta nesciunt dolore a error magni possimus! Error aspernatur, sequi quo pariatur maiores atque voluptatem ipsum, fugit neque tempora id culpa saepe laudantium porro, ipsam cumque quam. Quisquam eveniet omnis corrupti, doloremque consequatur eligendi beatae nisi culpa inventore reiciendis odio, provident alias, blanditiis odit sed molestias harum.</p>
            
        </div>

        <hr>
    </main>

    <footer>
        <p>By Elviro Dominguez Soriano</p>
    </footer>
</body>
</html>
