<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="flexbox.css">
</head>
<body>
    <header>
        <h1>Flexbox</h1>
    </header>

    <main>
        <section class="flex-direction">
            <h2>flex-direction</h2>

            <code>row:</code>
            <div class="row">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
                <div class="item">5</div>
                <div class="item">6</div>
                <div class="item">7</div>
                <div class="item">8</div>
                <div class="item">9</div>
                <div class="item">10</div>
                <div class="item">11</div>
                <div class="item">12</div>
            </div>

            <code>row-reverse:</code>
            <div class="row-reverse">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
                <div class="item">5</div>
                <div class="item">6</div>
                <div class="item">7</div>
                <div class="item">8</div>
                <div class="item">9</div>
                <div class="item">10</div>
                <div class="item">11</div>
                <div class="item">12</div>
            </div>

            <code>column:</code>
            <div class="column">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
                <div class="item">5</div>
                <div class="item">6</div>
                <div class="item">7</div>
                <div class="item">8</div>
                <div class="item">9</div>
                <div class="item">10</div>
                <div class="item">11</div>
                <div class="item">12</div>
            </div>

            <code>column-reverse:</code>
            <div class="column-reverse">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
                <div class="item">5</div>
                <div class="item">6</div>
                <div class="item">7</div>
                <div class="item">8</div>
                <div class="item">9</div>
                <div class="item">10</div>
                <div class="item">11</div>
                <div class="item">12</div>
            </div>
        </section>

        <hr>

        <section class="wrap">
            <h2>wrap</h2>

            <code>nowrap:</code>
            <div class="nowrap">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
                <div class="item">5</div>
                <div class="item">6</div>
                <div class="item">7</div>
                <div class="item">8</div>
                <div class="item">9</div>
                <div class="item">10</div>
                <div class="item">11</div>
                <div class="item">12</div>
            </div>

            <code>wrap:</code>
            <div class="wrap">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
                <div class="item">5</div>
                <div class="item">6</div>
                <div class="item">7</div>
                <div class="item">8</div>
                <div class="item">9</div>
                <div class="item">10</div>
                <div class="item">11</div>
                <div class="item">12</div>
            </div>

            <code>wrap-reverse:</code>
            <div class="wrap-reverse">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
                <div class="item">5</div>
                <div class="item">6</div>
                <div class="item">7</div>
                <div class="item">8</div>
                <div class="item">9</div>
                <div class="item">10</div>
                <div class="item">11</div>
                <div class="item">12</div>
            </div>
        </section>

        <hr>

        <section class="flex-flow">
            <h2>flex-flow</h2>

            <code>flex-flow: column wrap-reverse;</code>
            <div>
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
                <div class="item">5</div>
                <div class="item">6</div>
                <div class="item">7</div>
                <div class="item">8</div>
                <div class="item">9</div>
                <div class="item">10</div>
                <div class="item">11</div>
                <div class="item">12</div>
            </div>
        </section>

        <hr>

        <section class="justify-content">
            <h2>justify-content</h2>

            <code>justify-content: center;</code>
            <div class="center">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>

            <code>justify-content: flex-start;</code>
            <div class="flex-start">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>

            <code>justify-content: flex-end;</code>
            <div class="flex-end">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>

            <code>justify-content: space-around;</code>
            <div class="space-around">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>

            <code>justify-content: space-between;</code>
            <div class="space-between">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>

            <code>justify-content: space-evenly;</code>
            <div class="space-evenly">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>
        </section>

        <hr>

        <section class="align-items">
            <h2>align-items</h2>

            <code>align-items: stretch;</code>
            <div class="stretch">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>

            <code>align-items: center;</code>
            <div class="center">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>

            <code>align-items: flex-start;</code>
            <div class="start">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>

            <code>align-items: flex-end;</code>
            <div class="end">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>

            <code>align-items: baseline;</code>
            <div class="baseline">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
            </div>
        </section>

        <hr>

        <section class="align-content">
            <h2>align-content</h2>

            <code>align-content: space-between/stretch/center/flex-start/flex-end;</code>
            <div class="properties">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
                <div class="item">5</div>
                <div class="item">6</div>
                <div class="item">7</div>
                <div class="item">8</div>
                <div class="item">9</div>
                <div class="item">10</div>
            </div>
        </section>

        <hr>

        <section class="order">
            <h2>order</h2>

            <code>order: 1/2/3/4;</code>
            <div class="items">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
            </div>
        </section>

        <hr>

        <section class="grow">
            <h2>flex-grow</h2>

            <code>flex-grow: 1/2/3/4;</code>
            <div class="items">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
            </div>
        </section>

        <hr>

        <section class="shrink">
            <h2>flex-shrink</h2>

            <code>flex-shrink: 0;</code>
            <div class="items">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
                <div class="item">5</div>
                <div class="item">6</div>
                <div class="item">7</div>
                <div class="item">8</div>
                <div class="item">9</div>
                <div class="item">10</div>
                <div class="item">11</div>
                <div class="item">12</div>
                <div class="item">13</div>
                <div class="item">14</div>
                <div class="item">15</div>
                <div class="item">16</div>
                <div class="item">17</div>
                <div class="item">18</div>
                <div class="item">19</div>
                <div class="item">20</div>
            </div>
        </section>

        <section class="basis">
            <h2>flex-basis</h2>

            <code>flex-basis: 200px;</code>
            <div class="items">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
                <div class="item">5</div>
                <div class="item">6</div>
                <div class="item">7</div>
                <div class="item">8</div>
                <div class="item">9</div>
                <div class="item">10</div>
                <div class="item">11</div>
                <div class="item">12</div>
                <div class="item">13</div>
                <div class="item">14</div>
                <div class="item">15</div>
                <div class="item">16</div>
                <div class="item">17</div>
                <div class="item">18</div>
                <div class="item">19</div>
                <div class="item">20</div>
            </div>
        </section>

        <section class="flex">
            <h2>flex</h2>

            <code>flex: 200px;</code>
            <div class="items">
                <div class="item">1</div>
                <div class="item">2</div>
                <div class="item">3</div>
                <div class="item">4</div>
            </div>
        </section>
    </main>
</body>
</html>
